html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.ui-header .ui-title {
	margin-right: 10%;
	margin-left: 10%;
}

.hidden {
	display: none;
}