<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Minerva</title>

  <link rel="stylesheet" href="css/main.css">
  
  <script src="js/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="css/bootstrap.css">
  
  <script src="js/messages.js"></script>
  <script src="js/pages/common.js"></script>
  <script src="js/pages/folder.js"></script>
  <script src="js/pages/home.js"></script>
  <script src="js/underscore.js"></script>
  <script src="js/backbone.js"></script>
	<style>
	body{
	background-color: black;
	}
	</style>
			
</head>
<body>
	

    
    
      	<div class="container" id="mainContainer"></div>
    
    

  
  
  
  
	
	
	<script type="text/template" id="folder-list-template">
		<br />
		<div class="panel panel-primary">
		<div class="panel-heading">Folders list
		<a href="#/new"> <button class="btn btn-xs btn-success pull-right" type="button">NEW</button></a>
		</div>
		<% _.each(folders, function(folder) { %>
		
		
		<div class="well well-sm">
		<div class="media">
			<a class="pull-left" href="#">
				<img class="media-object img-circle" width="64" height="64"  src="css/walpers/bg1.jpg">
			</a>
			<div class="media-body">
				<h4 class="media-heading"><%= htmlEncode(folder.get('firstname')) %>
					<button type="button" class="btn btn-xs btn-default pull-right">
						<span class="glyphicon glyphicon-wrench"></span>
					</button>
				</h4>
			</div>
			<div class="media">
				<%= htmlEncode(folder.get('age')) %>
				<button type="button" class="btn btn-xs btn-default pull-right">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</div>
		</div>
		</div>
		
		
		<% }); %>
		</div>
	</script>
	
	<script type="text/template" id="addNewFolder-template">
	
				<form class="folderForm">
				<label for="folderName">Name:</label>
				<input type="text" name="folderName" value="" data-clear-btn="true" data-mini="true">
				<label for="folderDesc">Description: </label>
				<textarea name="folderDesc"cols=20 rows=3 autocomplete="off" data-mini="true"></textarea>
				<div class="ui-grid-a">
                <div class="ui-block-a"><a href="#home" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-b ui-mini">Cancel</a></div>
                <div class="ui-block-b"><a href="#" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-mini addNewFolderSubmit">Save</a></div>
				</div>
				</form>
				
	</script>

	
	
	
	
	
	
	
	<script>
	$.ajaxPrefilter( function( options, originalOptions, jqXHR ) {
		options.url = 'http://backbonejs-beginner.herokuapp.com' + options.url; 
	});
	
	$.fn.serializeObject = function() {
		var o = {};
		var a = this.serializeArray();
		$.each(a, function() {
			if (o[this.name] !== undefined) {
				if (!o[this.name].push) {
				o[this.name] = [o[this.name]];
				}
				o[this.name].push(this.value || '');
			} else {
				o[this.name] = this.value || '';
			}
		});
		return o;
	};
	
	function htmlEncode(value){
		return $('<div/>').text(value).html();
	}
	
	function htmlDecode(value){
		return $('<div/>').html(value).text();
	}
	
	
	var Folders = Backbone.Collection.extend({
		url: '/users'  /* DO ZMIANY /folders */
	});
	
	var FolderList = Backbone.View.extend({
		el : '#mainContainer',
		render: function() {
			var that = this;
			var folders = new Folders();
			folders.fetch({
				success: function(folders) {
					var template = _.template($("#folder-list-template").html(), {folders: folders.models});
					that.$el.html(template);
					
				}
			});
		}
	});
	
	
	var AddNewFolder = Backbone.View.extend({
		el : '#mainContainer',
		render: function() {
			var template = _.template($("#addNewFolder-template").html(), {});
			this.$el.html(template);
		},
		events: {
			'submit .addNewFolderSubmit' : 'addFolderFn',
		},
		addFolderFn: function(event) {
			var folderDetails = $(event.currentTarget).serializeObject();
			return false;
		}
	});


	
	
	
	
	var folderListView = new FolderList();
	var addNewFolderView = new AddNewFolder();
	
	
	
	var Router = Backbone.Router.extend({
		routes : {
			'' : 'home',
			'new' : 'addNewFolder',
		}
	});
	
	
	var router = new Router();
	router.on('route:home', function() {
		folderListView.render();
	});
	router.on('route:addNewFolder', function() {
		addNewFolderView.render();
	});
	
	Backbone.history.start();
	</script>

</body>
</html>